.c-basket-summary {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 12px 0;
  background-color: #538249;
  color: #fafafa;
  z-index: 100;

  font-weight: bold;
  box-shadow: 0 -5px 5px -5px #333;

  &--desktop {
    display: none;
  }
  &--mobile {
    display: block;
  }
  &__total {
    text-align: right;
  }
}

@media (min-width: 990px) {
  .c-basket-summary {
    &--desktop {
      display: block;
    }
    &--mobile {
      display: none;
    }
  }
}
