.c-cashier-layout {
  &-basket-container {
    padding-right: 0;
    padding-left: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 0 4px rgba(0, 0, 0, 0.8);
    border-radius: 4px 4px 0 0;

    .c-cashier-layout-basket {
      background-color: #fff;
      box-shadow: none;
      border-radius: 4px 4px 0 0;
    }
  }
  .c-basket-summary {
    display: none;
  }
  &-basket {

    background-color: #f5f5f5;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    height: 100%;
    &__items {
      border-bottom: solid 1px #ddd;

      th,
      td {
        padding: 8px 0;
      }
      th {
        font-size: 14px;
        border-bottom: solid 1px #ddd;
      }
      td {
        font-size: 12px;
      }

      &-header {
        margin-bottom: 8px;
        > * {
          font-size: 14px;
          padding-right: 0;
          padding-bottom: 8px;
        }
      }
      &-item {
        padding: 8px;
        > * {
          font-size: 12px;
          padding-right: 0;
        }
      }
    }
  }

  .c-ticket-item {
    &__select {
      width: 114px;
    }
    &__actions {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-left: 72px;
    }
    &__select {
      .input-group-prepend .btn,
      .input-group-append .btn {
        font-size: 22px;
        padding: 0 12px;
      }
    }
  }

  .c-cashier-layout__basket-mobile-summary {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #fff;
    z-index: 100;
  }

  .c-summary-toggle {
    margin-top: -1rem;
    width: 100%;
    &__inside {
      background-color: #c4c4c4;
      height: 4px;
      width: 48px;
      border-radius: 6px;
    }
  }
}

@media (min-width: 990px) {
  .c-cashier-layout {
    &-basket-container {
      position: relative;
      bottom: auto;
      left: auto;
      width: 100%;
      z-index: 100;
      box-shadow: none;
      .c-cashier-layout-basket {
        background-color: #f5f5f5;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        height: 100%;
      }
    }
  }
}
